
body {
    background-color: #000;
}

main h1 {
    margin: 25px auto;
    font-size: 52px;
    text-align: center;
    color: #fff;
}

.cursos {
    max-width: 80vw;
    height: 100%;
    margin: 10px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.curso {
    width: 100%;
    height: 251px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    color: #fff;
    transition: transform 500ms;
}

.curso:hover {
    transform: scale(1.05);
}

.curso .logo {
    width: 100%;
    height: 250px;
}

.curso .logo img{
    width: 100%;
    height: 100%;
}

.curso .logo img{
    width: 100%;
    height: 100%;
}

.card-info {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #fff;
}

.card-info p{
    height: 35px;
    width: 170px;
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 500ms;
    
}

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    position: relative;
    background-color: #fff;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
}

.modal .modalClose {
    color: #000;
    position: absolute;
    top: 4px;
    right: 15px;
    cursor: pointer;
}

.modal .modalMaximize {
    color: #000;
    position: absolute;
    top: 7px;
    right: 50px;
    cursor: pointer;
}

/*====MODAL ACTIVE====*/

.modalOverlay.active{
    opacity: 1;
    visibility: visible;
}

.modal.maximize{
    width: 100%;
    height: 100%;
    margin: 0;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}