
main {
    max-width: 80%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-main {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-main img {
    width: 70%;
    height: 70%;
}

main h1 {
    color:var(--color-primary);
    margin-bottom: 15px;
}

main p {
    max-width: 650px;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: calc(17px * 1.5);
}

.tecnologias {
    max-width: 650px;
    margin-bottom: 65px;
}

.tecnologias h3{
    padding: 10px;
    font-size: 19px;
    color: var(--color-primary);
}

.tecnologias ul{
    display: flex;
}

.tecnologias ul li{
 margin: 0 15px;
} 

.link-social a{
    margin: 0 15px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-primary);
}

.link-social a:hover{
    border-bottom: 2px solid var(--color-primary);
}