{% extends "layout.njk" %}

{% block head %}
        <link rel="stylesheet" href="/css/sobre.css">
    <title>Sobre</title>
{% endblock %}

{% block content%}
    <main>
        <div class="logo-main">
            <img src="/img/logo-rocketseat.svg" alt="Logo Rocketseat">
        </div>
        <h1>
            Rocketseat
        </h1>
        <p>
            As melhores tecnologias em programação, direto ao ponto e do jeito certo.
            No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.
            A Rocketseat busca ensiar tecnologia de um jeito fácil e prático.
        </p>
        <div class="tecnologias">
            <h3>Principais Tecnologias</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>NodeJs</li>
                <li>React</li>
                <li>React Native</li>
            </ul>
        </div>
        <div class="link-social">
            <a href="#">Github</a>
            <a href="#">Instagram</a>
            <a href="#">Facebook</a>
        </div>
    </main>
{% endblock %}