
/*=======BODY HIDDEN=========*/

body.hidden {
    overflow: hidden;
}


/*=======RECIPES PAGE=========*/

.recipes-page {
    margin: 35px 0 70px;
}
.recipes-page h2{
    font-size: 24px;
    margin-bottom: 24px;
}

/*=======MODAL=========*/

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.modal {
    width: 660px;
    height: 413px;
    padding: 24px;
    background-color: #fff;
    border-radius:16px;
}

.modal-img img{
    height: 200px;
    width: 600px;
    border-radius: 15px;
}

.modal-content {
    margin: 8px auto;
    text-align: center;
}

.modal-content h3 {
    font-size: 24px;
}

.modal-content p {
    font-size: 18px;
    color: #777;
}

.modal-close p {
    margin-top: 74px;
    text-align: center;
    font-size: 16px;
    color: #999;
    cursor: pointer;
    transition: all 0.3s;
}

.modal-close p:hover {
    font-weight: bold;
    color: #000;
    transform: scale(1.1);
}

/*=======MODAL ACTIVE=========*/

.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}