<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        {% block head %}
                <title>About</title>
        {% endblock head %}
    </head>
    <body>
        <header>
            <nav class="link">
                <a href="/">Sobre</a>
                <a href="/portfolio">Aulas</a>
            </nav>
        </header>
        {% block content %}{% endblock content %}
        {% block script %}
        {% endblock script %}
    </body>
</html>