<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>Sobre</title>
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <li>
            <a href="/"
              ><img src="/img/logo-rocketseat 1.svg" alt="logo-rocketseat"
            /></a>
          </li>
          <li><a href="/">Home</a></li>
          <li><a href="/about.html">Sobre</a></li>
          <li><a href="/courses.html">Cursos</a></li>
        </nav>
        <div class="link-contatos">
          <li>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_black"
              ><img
                class="img-header-link"
                src="/img/discord.svg"
                alt="Link discord"
            /></a>
          </li>
          <li>
            <a href="mailto:oi@rocketseat.com.br"
              ><img
                class="img-header-link"
                src="/img/mail.svg"
                alt="Link E-mail"
            /></a>
          </li>
          <li>
            <a href="tel:+5547992078767"
              ><img
                class="img-header-link"
                src="/img/call.svg"
                alt="Link Telephone"
            /></a>
          </li>
        </div>
      </header>
      <main>
        <div class="logo-name">
            <h1>Rocketseat</h1>
            <div>
                <img src="/img/logo-rocketseat 1.svg" alt="logo Rocketseat">
            </div>
        </div>
        <section>
          <article>
            <h1>&lt;Quem somos?/&gt;</h1>
            <p>
              Mais do que uma plataforma de educação em tecnologia, somos uma
              comunidade incrível de programadores em busca do próximo nível.
            </p>
            <p>
              Em um mundo onde a informação fica obsoleta cada vez mais rápido,
              velocidade de aprendizado é a chave para o sucesso.
            </p>
            <p>
              Por isso a Rocketseat oferece através de uma plataforma
              inteligente e metodologia prática, além de comunidade, eventos,
              conteúdo e conexão com o mercado de trabalho, todas as ferramentas
              que você precisa para masterizar no menor tempo possível as
              tecnologias mais modernas de desenvolvimento web e mobile, e dessa
              forma avançar para o próximo nível como programador.
            </p>
            <p>
              <span>Texto retirado do linkedin da Rocketseat</span>
            </p>
          </article>
          <article>
            <h1>&lt;De onde viemos?/&gt;</h1>
            <p>
              A Rocketseat nasceu em maio de 2017 quando três programadores,
              Cleiton Souza, Diego Fernandes e Robson Marques, uniram suas
              paixões por compartilhar conhecimento.
            </p>
            <p>
              Vindos de uma trajetória no mercado que acumulou bastante
              experiência profissional, os três fundadores sabiam que existia
              muito potencial a ser explorado por quem decidia seguir uma
              carreira na programação, mas que nem todos os profissionais da
              área sabiam disso e acabavam perdendo boas oportunidades por falta
              de preparação.
            </p>
            <p>
              Sabendo disso, eles tomaram a iniciativa de construir uma ponte
              entre esse potencial dos programadores e as necessidades do
              mercado, e decidiram fazer essa conexão por meio da educação.
            </p>
            <p>
              Inspirados por uma frase do ex-CEO do Google, Eric Schmidt que diz
              que “quando te oferecem um assento em um foguete você não pergunta
              qual assento, você simplesmente embarca”, os empreendedores
              decidiram que essa nova empresa se chamaria Rocketseat, e teria
              uma missão clara: ser um foguete na vida de cada estudante que
              embarca com eles nessa jornada.
            </p>
            <p>
              Sabendo que o mundo da programação é extremamente complexo por
              conta do grande volume de ferramentas existentes e da velocidade
              com que as coisas evoluem, a Rocketseat decidiu combinar a
              eficiência dos bootcamps presenciais com a flexibilidade dos
              cursos online, potencializando os resultados dos estudantes de
              acordo com os desafios existentes no mercado.
            </p>
            <p>
              Prezando sempre por conectar as pessoas envolvidas nesse universo,
              a Rocketseat trabalha constantemente para construir uma comunidade
              focada em desenvolver o potencial desse ecossistema. Prova disso
              foi a realização do Rocketseat Experience (ou RS/XP), um evento
              que conectou empresas, profissionais do mercado e estudantes para
              incentivar o networking e compartilhamento de conhecimento entre
              todos os participantes.
            </p>
            <p>
              <span
                >Texto retirado do artigo Descubra a Rocketseat, escrito por
                Matheus Torrano e publicado no Medium.com.</span
              >
            </p>
          </article>
          <article>
            <h1>&lt;Principais tecnologias/&gt;</h1>
            <p>
              A Rocketseat utiliza as melhores e mais recentes tecnologias
              disponíveis no mercado. Fazendo com que o aluno saia capacitado e
              preparado para o que realmente importa.
            </p>
            <p>Você terá contato com tecnologias como:</p>
          </article>
          <div class="tecnologias">
            <ul>
                <li>
                    <div class="info-tec-text">
                        <h3>HTML 5</h3>
                        <p>É a linguagem de marcação padrão para páginas da Web, que define o significado e a estrutura do conteúdo da web. Com HTML, você pode criar seu próprio site.

                        </p>
                    </div>
                    <div class="info-img-tec">
                        <img src="/img/logo-html5.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="info-tec-text">
                        <h3>CSS 3</h3>
                        <p>
                            É usado para estilizar elementos escritos em uma linguagem de marcação como HTML. O CSS separa o conteúdo da representação visual do site. Ele realiza a decoração da sua página

                        </p>
                    </div>
                    <div class="info-img-tec">
                        <img src="/img/logo-css3.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="info-tec-text">
                        <h3>JavaScritp</h3>
                        <p>É uma linguagem de programação que permite implementar funcionalidades mais complexas em páginas web. 
                            Com JavaScript você é capaz de controlar todo o comportamento da sua aplicação no navegador.</p>
                    </div>
                    <div class="info-img-tec">
                        <img src="/img/logo-javascript.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="info-tec-text">
                        <h3>React</h3>
                        <p>O React é a biblioteca mais popular do JavaScript e é usada para construir uma interface de usuário (IU). Ela oferece uma resposta excelente para o usuário adicionar comandos usando um novo método de renderizar sites.</p>
                    </div>
                    <div class="info-img-tec">
                        <img src="/img/logo-react.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="info-tec-text">
                        <h3>React Native</h3>
                        <p>Construir apps nativos para iOS e Android ganhou um novo significado com React Native, que ampliou os poderes do JavaScript no mobile e consolidou o React como um framework onipresente.</p>
                    </div>
                    <div class="info-img-tec">
                        <img src="/img/logo-react.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="info-tec-text">
                        <h3>Node.Js</h3>
                        <p>Se você tem uma aplicação tanto web quanto mobile, vai precisar de uma API para controlar toda a lógica por trás dela. Com NodeJS você é capaz de construir o back-end de forma simples, robusta e com performance.
                        </p>
                    </div>
                    <div class="info-img-tec">
                        <img src="/img/logo-nodejs.svg" alt="">
                    </div>
                </li>
            </ul>
          </div>
          <div class="link-social">
              <h2>&lt;Redes sociais/&gt;</h2>
              <ul>
                  <li><a href=""><img class="img-social" src="/img/github.svg" alt=""></a></li>
                  <li><a href=""><img class="img-social" src="/img/youtube.svg" alt=""></a></li>
                  <li><a href=""><img class="img-social" src="/img/Instagram.svg" alt=""></a></li>
                  <li><a href=""><img class="img-social" src="/img/facebook.svg" alt=""></a></li>
              </ul>
          </div>
        </section>
      </main>
      <footer>
        Rocketseat © 2020 - Todos os direitos reservados
      </footer>
    </div>
  </body>
</html>
