{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/css/courses.css"/>
    <title>Cursos</title>
{% endblock head %}

{% block content %}
    <main>
        <h1>&lt;Cursos Rocketseat/&gt;</h1>
        <section class="cards">
            <div class="card-courses" id="starter">
                <img class="logo" src="/img/logo_starter.svg" alt="">
                <p class="text-card-courses">Torne-se um programador desejado no mercado com esses cursos gratuitos</p>
                <div class="courses-info">
                    <div>
                        <img src="/img/school.svg" alt="">
                        <p>5 módulos</p>
                    </div>
                    <div>
                        <img src="/img/pig.svg" alt="">
                        <p>Curso Gratuito</p>
                    </div>
                </div>
                <div class="button">
                    <p>Visualizar</p>
                </div>
            </div>
            <div class="card-courses" id="launchbase">
                <img class="logo" src="/img/logo_lauchebase.svg" alt="">
                <p class="text-card-courses">Domine programação do zero e tenha acesso às melhores oportunidades do mercado</p>
                <div class="courses-info">
                    <div>
                        <img src="/img/school.svg" alt="">
                        <p>10 módulos</p>
                    </div>
                    <div>
                        <img src="/img/pig.svg" alt="">
                        <p>Curso Pago</p>
                    </div>
                </div>
                <div class="button">
                    <p>Visualizar</p>
                </div>
            </div>
            <div class="card-courses" id="gostack">
                <img class="logo" src="/img/logo_gostack.svg" alt="">
                <p class="text-card-courses">
                    Treinamento imersivo nas tecnologias mais modernas de desenvolvimento web e mobile</p>
                <div class="courses-info">
                    <div>
                        <img src="/img/school.svg" alt="">
                        <p>15 módulos</p>
                    </div>
                    <div>
                        <img src="/img/pig.svg" alt="">
                        <p>Curso Pago</p>
                    </div>
                </div>
                <div class="button">
                    <p>Visualizar</p>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block modal %}
    <div class="modal-overlay">
        <div class="modal">
            <div class="button-modal">
                <img class="button-maximize" src="/img/maximize.svg" alt="">
                <img class="button-close" src="/img/close.svg" alt="">
            </div>
            <div class="modal-iframe">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block scripts %}
    <script src="/js/scripts.js"></script>
{% endblock scripts %}