{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/css/courses.css"/>
    <title>Cursos</title>
{% endblock head %}

{% block content %}
    <main>
        <h1>&lt;Cursos Rocketseat/&gt;</h1>
        <section class="cards">
            {% for course in courses %}
                <div class="card-courses" id="{{course.name}}">
                    <img class="logo" src="{{course.img}}" alt="{{course.name}}">
                    <p class="text-card-courses">{{course.description}}</p>
                    <div class="courses-info">
                        <div>
                            <img src="/img/school.svg" alt="">
                            <p>{{course.modulo}}</p>
                        </div>
                        <div>
                            <img src="/img/pig.svg" alt="">
                            <p>{{course.price}}</p>
                        </div>
                    </div>
                    <div class="button">
                        <p>Visualizar</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="/js/scripts.js"></script>
{% endblock scripts %}