{% extends "layout.njk" %}

{% block content %}
  <main>
    <section class="section-content-primary">
      <div class="primary-content">
        <h1>
          &lt;As melhores tecnologias em programação, direto ao ponto e do jeito certo./&gt;
        </h1>
        <p>
          No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.
        </p>
      </div>
      <div class="primary-img">
        <img src="/img/rocket-launch.svg" alt="rocket launch">
      </div>
    </section>
    <section class="section-content-secondary">
      <div>
        <img src="/img/globe.svg" alt="globe">
      </div>
      <div>
        <h2>
          &lt;As mesmas tecnologias utilizadas por empresas como:/&gt;
        </h2>
        <p>
          <span>
            Nubank, Netflix, Uber, Instagram e Airbnb
          </span>
        </p>
        <p>
          Imagine você dominando as mesmas tecnologias adotadas pelos melhores times do mundo, construindo aplicações de alta performance e se destacando entre os maiores programadores.
        </p>
      </div>
    </section>
  </main>
{% endblock content %}