/*=======Style=========*/
/*====================*/
:root {
    --color-primary: #111;
    --color-banner: #FBDFDB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto';
    color: var(--color-primary);
}

.container {
    max-width: 940px;
    width: 80%;
    margin: 0 auto;
}

/*=======HEADER=========*/

header {
    width: 100%;
    margin-top: 35px;
    display: flex;
    align-items: center;
}

header nav {
    margin-left: 100px;
}

header nav li {
    display: inline-block;
    margin-right: 10px;
}

header nav li a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all 0.3s;
}

header nav li a:hover{
    font-weight: bold;
    color: #000;
}

/*=======BANNER=========*/

.banner {
    width: 100%;
    height: 366px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: var(--color-banner);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-banner h1 {
    width: 320px;
    font-size: 32px;
}

.info-banner p {
    width: 320px;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    opacity: 0.7;
}

.logo-banner {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   overflow: hidden;
}


.logo-banner .animationChef {
    animation: slide 3s ease-in-out 0.3s backwards;
}

@keyframes slide {
    0% {
        opacity: 0;
        margin-right: -700px;
    }
    100% {
        opacity: 1;
        margin-right: 0;
    }
}

/*=======MAIS ACESSADAS=========*/

.most-accessed {
    margin: 32px 0 64px;
}
.most-accessed h2{
    font-size: 24px;
    margin-bottom: 24px;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px
}

.recipe {
    cursor: pointer;
}

.recipes .recipe-img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 16px;
    overflow: hidden;
}

.recipes .recipe-img img {
    width: inherit;
    height: inherit;
    border-radius: 15px;
    transition: transform 0.3s;
    object-fit: cover;
}

.recipe-img img:hover{
    transform: scale(1.1);
}

.recipe h3{
    font-size: 18px;
}

.recipe p{
    font-size: 14px;
    color: #777777;
    
}

/*=======FOOTER=========*/

footer {
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

footer p {
    text-align: center;
    font-size: 14px;
    color: #999;
}

/*=======Sobre=========*/
/*====================*/
.sobre {
    margin: 35px 0 70px;
}

.sobre .text h1,
.sobre .text h2,
.sobre .text p {
    margin: 18px 0;
}

.sobre .text h1 {
    font-size: 24px;
}

.sobre .text h2 {
    font-size: 20px;
}

.sobre .text p {
    width: 940px;
    font-size: 18px;
    line-height: 28px;
    color: #444;
} 

/*=======Receitas=========*/
/*=======================*/

.recipes-page {
    margin: 35px 0 70px;
}
.recipes-page h2{
    font-size: 24px;
    margin-bottom: 24px;
}